*.jar
*.log
*.secret
Proxy/plugins/bStats/config.txt
Proxy/lang/messages_ar_SA.properties
Proxy/lang/messages_bg_BG.properties
Proxy/lang/messages_cs_CZ.properties
Proxy/lang/messages_da_DK.properties
Proxy/lang/messages_de_DE.properties
Proxy/lang/messages_es_ES.properties
Proxy/lang/messages_et_EE.properties
Proxy/lang/messages_fi_FI.properties
Proxy/lang/messages_fr_FR.properties
Proxy/lang/messages_he_IL.properties
Proxy/lang/messages_hu_HU.properties
Proxy/lang/messages_it_IT.properties
Proxy/lang/messages_ja_JP.properties
Proxy/lang/messages_ko_KR.properties
Proxy/lang/messages_nb_NO.properties
Proxy/lang/messages_nl_NL.properties
Proxy/lang/messages_nn_NO.properties
Proxy/lang/messages_pl_PL.properties
Proxy/lang/messages_pt_BR.properties
Proxy/lang/messages_ru_RU.properties
Proxy/lang/messages_sk_SK.properties
Proxy/lang/messages_sq_AL.properties
Proxy/lang/messages_sr_CS.properties
Proxy/lang/messages_sv_SE.properties
Proxy/lang/messages_tl_PH.properties
Proxy/lang/messages_tr_TR.properties
Proxy/lang/messages_zh_CN.properties
Proxy/lang/messages_zh_HK.properties
Proxy/plugins/maintenance/config.yml
Proxy/plugins/maintenance/language-en.yml
Proxy/plugins/punishmanager/config.yml
Proxy/plugins/punishmanager/PunishManager.mv.db
Proxy/plugins/punishmanager/locales/af_ZA.yml
Proxy/plugins/punishmanager/locales/ar_SA.yml
Proxy/plugins/punishmanager/locales/ca_ES.yml
Proxy/plugins/punishmanager/locales/cs_CZ.yml
Proxy/plugins/punishmanager/locales/da_DK.yml
Proxy/plugins/punishmanager/locales/de_DE.yml
Proxy/plugins/punishmanager/locales/el_GR.yml
Proxy/plugins/punishmanager/locales/en_US.yml
Proxy/plugins/punishmanager/locales/es_ES.yml
Proxy/plugins/punishmanager/locales/fi_FI.yml
Proxy/plugins/punishmanager/locales/fr_FR.yml
Proxy/plugins/punishmanager/locales/he_IL.yml
Proxy/plugins/punishmanager/locales/hu_HU.yml
Proxy/plugins/punishmanager/locales/it_IT.yml
Proxy/plugins/punishmanager/locales/ja_JP.yml
Proxy/plugins/punishmanager/locales/ko_KR.yml
Proxy/plugins/punishmanager/locales/nl_NL.yml
Proxy/plugins/punishmanager/locales/no_NO.yml
Proxy/plugins/punishmanager/locales/pl_PL.yml
Proxy/plugins/punishmanager/locales/pt_BR.yml
Proxy/plugins/punishmanager/locales/pt_PT.yml
Proxy/plugins/punishmanager/locales/ro_RO.yml
Proxy/plugins/punishmanager/locales/ru_RU.yml
Proxy/plugins/punishmanager/locales/sr_SP.yml
Proxy/plugins/punishmanager/locales/sv_SE.yml
Proxy/plugins/punishmanager/locales/tr_TR.yml
Proxy/plugins/punishmanager/locales/uk_UA.yml
Proxy/plugins/punishmanager/locales/vi_VN.yml
Proxy/plugins/punishmanager/locales/zh_CN.yml
Proxy/plugins/punishmanager/locales/zh_TW.yml
Proxy/plugins/velocityvanish/! CONFIG FILES WILL GENERATE ON SPIGOT SERVERS !
