*.jar
*.log
*.secret
Proxy/plugins/bStats/config.txt
Proxy/lang/messages_ar_SA.properties
Proxy/lang/messages_bg_BG.properties
Proxy/lang/messages_cs_CZ.properties
Proxy/lang/messages_da_DK.properties
Proxy/lang/messages_de_DE.properties
Proxy/lang/messages_es_ES.properties
Proxy/lang/messages_et_EE.properties
Proxy/lang/messages_fi_FI.properties
Proxy/lang/messages_fr_FR.properties
Proxy/lang/messages_he_IL.properties
Proxy/lang/messages_hu_HU.properties
Proxy/lang/messages_it_IT.properties
Proxy/lang/messages_ja_JP.properties
Proxy/lang/messages_ko_KR.properties
Proxy/lang/messages_nb_NO.properties
Proxy/lang/messages_nl_NL.properties
Proxy/lang/messages_nn_NO.properties
Proxy/lang/messages_pl_PL.properties
Proxy/lang/messages_pt_BR.properties
Proxy/lang/messages_ru_RU.properties
Proxy/lang/messages_sk_SK.properties
Proxy/lang/messages_sq_AL.properties
Proxy/lang/messages_sr_CS.properties
Proxy/lang/messages_sv_SE.properties
Proxy/lang/messages_tl_PH.properties
Proxy/lang/messages_tr_TR.properties
Proxy/lang/messages_zh_CN.properties
Proxy/lang/messages_zh_HK.properties
Proxy/plugins/maintenance/config.yml
Proxy/plugins/maintenance/language-en.yml
Proxy/plugins/punishmanager/config.yml
Proxy/plugins/punishmanager/PunishManager.mv.db
Proxy/plugins/punishmanager/locales/af_ZA.yml
Proxy/plugins/punishmanager/locales/ar_SA.yml
Proxy/plugins/punishmanager/locales/ca_ES.yml
Proxy/plugins/punishmanager/locales/cs_CZ.yml
Proxy/plugins/punishmanager/locales/da_DK.yml
Proxy/plugins/punishmanager/locales/de_DE.yml
Proxy/plugins/punishmanager/locales/el_GR.yml
Proxy/plugins/punishmanager/locales/en_US.yml
Proxy/plugins/punishmanager/locales/es_ES.yml
Proxy/plugins/punishmanager/locales/fi_FI.yml
Proxy/plugins/punishmanager/locales/fr_FR.yml
Proxy/plugins/punishmanager/locales/he_IL.yml
Proxy/plugins/punishmanager/locales/hu_HU.yml
Proxy/plugins/punishmanager/locales/it_IT.yml
Proxy/plugins/punishmanager/locales/ja_JP.yml
Proxy/plugins/punishmanager/locales/ko_KR.yml
Proxy/plugins/punishmanager/locales/nl_NL.yml
Proxy/plugins/punishmanager/locales/no_NO.yml
Proxy/plugins/punishmanager/locales/pl_PL.yml
Proxy/plugins/punishmanager/locales/pt_BR.yml
Proxy/plugins/punishmanager/locales/pt_PT.yml
Proxy/plugins/punishmanager/locales/ro_RO.yml
Proxy/plugins/punishmanager/locales/ru_RU.yml
Proxy/plugins/punishmanager/locales/sr_SP.yml
Proxy/plugins/punishmanager/locales/sv_SE.yml
Proxy/plugins/punishmanager/locales/tr_TR.yml
Proxy/plugins/punishmanager/locales/uk_UA.yml
Proxy/plugins/punishmanager/locales/vi_VN.yml
Proxy/plugins/punishmanager/locales/zh_CN.yml
Proxy/plugins/punishmanager/locales/zh_TW.yml
Proxy/plugins/velocityvanish/! CONFIG FILES WILL GENERATE ON SPIGOT SERVERS !
*.log.gz
*.gz
Proxy/plugins/advancedserverlist/cache.data
Proxy/plugins/luckperms/translations/repository/ar_SA.properties
Proxy/plugins/luckperms/translations/repository/bg_BG.properties
Proxy/plugins/luckperms/translations/repository/cs_CZ.properties
Proxy/plugins/luckperms/translations/repository/da_DK.properties
Proxy/plugins/luckperms/translations/repository/de_DE.properties
Proxy/plugins/luckperms/translations/repository/el_GR.properties
Proxy/plugins/luckperms/translations/repository/en_PT.properties
Proxy/plugins/luckperms/translations/repository/es_ES.properties
Proxy/plugins/luckperms/translations/repository/fa_IR.properties
Proxy/plugins/luckperms/translations/repository/fi_FI.properties
Proxy/plugins/luckperms/translations/repository/fil_PH.properties
Proxy/plugins/luckperms/translations/repository/fr_FR.properties
Proxy/plugins/luckperms/translations/repository/he_IL.properties
Proxy/plugins/luckperms/translations/repository/hi_IN.properties
Proxy/plugins/luckperms/translations/repository/hu_HU.properties
Proxy/plugins/luckperms/translations/repository/id_ID.properties
Proxy/plugins/luckperms/translations/repository/it_IT.properties
Proxy/plugins/luckperms/translations/repository/ja_JP.properties
Proxy/plugins/luckperms/translations/repository/ka_GE.properties
Proxy/plugins/luckperms/translations/repository/ko_KR.properties
Proxy/plugins/luckperms/translations/repository/nl_NL.properties
Proxy/plugins/luckperms/translations/repository/no_NO.properties
Proxy/plugins/luckperms/translations/repository/pl_PL.properties
Proxy/plugins/luckperms/translations/repository/pt_BR.properties
Proxy/plugins/luckperms/translations/repository/ro_RO.properties
Proxy/plugins/luckperms/translations/repository/ru_RU.properties
Proxy/plugins/luckperms/translations/repository/sk_SK.properties
Proxy/plugins/luckperms/translations/repository/sr_CS.properties
Proxy/plugins/luckperms/translations/repository/sv_SE.properties
Proxy/plugins/luckperms/translations/repository/tr_TR.properties
Proxy/plugins/luckperms/translations/repository/uk_UA.properties
Proxy/plugins/luckperms/translations/repository/vi_VN.properties
Proxy/plugins/luckperms/translations/repository/zh_CN.properties
Proxy/plugins/luckperms/translations/repository/zh_TW.properties
Proxy/plugins/luckperms/luckperms-h2-v2.mv.db
Proxy/plugins/luckperms/translations/repository/status.json
Proxy/plugins/luckperms/editor-keystore.json
Proxy/plugins/luckperms/contexts.json
Proxy/plugins/luckperms/config.yml
Proxy/plugins/Geyser-Velocity/locales/en_us.hash
Proxy/plugins/Geyser-Velocity/locales/en_us.json
Proxy/plugins/floodgate/key.pem
Instance/eula.txt
Instance/banned-players.json
Instance/banned-ips.json
Instance/usercache.json
Instance/version_history.json
Instance/whitelist.json
Instance/ops.json
Instance/help.yml
Instance/commands.yml
Instance/config/paper-global.yml
Instance/plugins/bStats/config.yml
Instance/world/session.lock
Instance/world/uid.dat
Instance/world/datapacks/bukkit/pack.mcmeta
Instance/permissions.yml
*.lock
*.dat
*.console_history
Instance/crash-reports
Instance/plugins/spark
*.dat_old
*.mca
Instance/Survival/banned-ips.json
Instance/Survival/banned-players.json
Instance/Survival/commands.yml
Instance/Survival/eula.txt
Instance/Survival/ops.json
Instance/Survival/help.yml
Instance/Survival/permissions.yml
Instance/Survival/usercache.json
Instance/Survival/version_history.json
Instance/Survival/whitelist.json
Instance/Survival/config/paper-global.yml
Instance/Survival/crash-reports
Instance/Survival/world/datapacks/bukkit/pack.mcmeta
Instance/Survival/plugins/spark/activity.json
Instance/Survival/plugins/spark/config.json
*.pom.sha1
*.sha1
*.pom
Instance/Survival/libraries
Instance/Game/libraries
*.db
*.license
*.pem
Instance/Survival/plugins/InteractiveChatDiscordSrvAddon/built-in/Default
Instance/Game/plugins/InteractiveChatDiscordSrvAddon/built-in/Default
Instance/Survival/plugins/LuckPerms/translations/repository/ar_SA.properties
Instance/Survival/plugins/LuckPerms/translations/repository/bg_BG.properties
Instance/Survival/plugins/LuckPerms/translations/repository/cs_CZ.properties
Instance/Survival/plugins/LuckPerms/translations/repository/da_DK.properties
Instance/Survival/plugins/LuckPerms/translations/repository/de_DE.properties
Instance/Survival/plugins/LuckPerms/translations/repository/el_GR.properties
Instance/Survival/plugins/LuckPerms/translations/repository/en_PT.properties
Instance/Survival/plugins/LuckPerms/translations/repository/es_ES.properties
Instance/Survival/plugins/LuckPerms/translations/repository/fa_IR.properties
Instance/Survival/plugins/LuckPerms/translations/repository/fi_FI.properties
Instance/Survival/plugins/LuckPerms/translations/repository/fil_PH.properties
Instance/Survival/plugins/LuckPerms/translations/repository/fr_FR.properties
Instance/Survival/plugins/LuckPerms/translations/repository/he_IL.properties
Instance/Survival/plugins/LuckPerms/translations/repository/hi_IN.properties
Instance/Survival/plugins/LuckPerms/translations/repository/hu_HU.properties
Instance/Survival/plugins/LuckPerms/translations/repository/id_ID.properties
Instance/Survival/plugins/LuckPerms/translations/repository/it_IT.properties
Instance/Survival/plugins/LuckPerms/translations/repository/ja_JP.properties
Instance/Survival/plugins/LuckPerms/translations/repository/ka_GE.properties
Instance/Survival/plugins/LuckPerms/translations/repository/ko_KR.properties
Instance/Survival/plugins/LuckPerms/translations/repository/nl_NL.properties
Instance/Survival/plugins/LuckPerms/translations/repository/no_NO.properties
Instance/Survival/plugins/LuckPerms/translations/repository/pl_PL.properties
Instance/Survival/plugins/LuckPerms/translations/repository/pt_BR.properties
Instance/Survival/plugins/LuckPerms/translations/repository/ro_RO.properties
Instance/Survival/plugins/LuckPerms/translations/repository/ru_RU.properties
Instance/Survival/plugins/LuckPerms/translations/repository/sk_SK.properties
Instance/Survival/plugins/LuckPerms/translations/repository/sr_CS.properties
Instance/Survival/plugins/LuckPerms/translations/repository/status.json
Instance/Survival/plugins/LuckPerms/translations/repository/sv_SE.properties
Instance/Survival/plugins/LuckPerms/translations/repository/tr_TR.properties
Instance/Survival/plugins/LuckPerms/translations/repository/uk_UA.properties
Instance/Survival/plugins/LuckPerms/translations/repository/vi_VN.properties
Instance/Survival/plugins/LuckPerms/translations/repository/zh_CN.properties
Instance/Survival/plugins/LuckPerms/translations/repository/zh_TW.properties
Instance/Survival/plugins/squaremap/locale/lang-bs.yml
Instance/Survival/plugins/squaremap/locale/lang-en.yml
Instance/Survival/plugins/squaremap/locale/lang-es-es.yml
Instance/Survival/plugins/squaremap/locale/lang-fr.yml
Instance/Survival/plugins/squaremap/locale/lang-nl.yml
Instance/Survival/plugins/squaremap/locale/lang-no.yml
Instance/Survival/plugins/squaremap/locale/lang-pl.yml
Instance/Survival/plugins/squaremap/locale/lang-ru.yml
Instance/Survival/plugins/squaremap/locale/lang-zh-cn.yml
Instance/Survival/plugins/squaremap/locale/lang-zh-tw.yml
Instance/Survival/plugins/CoreProtect
Instance/Survival/plugins/DiscordSRV/config.yml
Instance/Survival/plugins/GrimAC/discord.yml
Instance/Survival/plugins/HyacinthHello/PlayerDatabase
Instance/Survival/plugins/InteractiveChat/lang/hashes.json
Instance/Survival/plugins/InteractiveChat/lang/languages/en_us.json
Instance/Survival/plugins/InteractiveChatDiscordSrvAddon/hashes.json
Instance/Survival/plugins/eGlow/Config.yml
Instance/Survival/plugins/LuckPerms/config.yml
Instance/Survival/plugins/ReputationPlus/config.yml
Instance/Survival/plugins/squaremap/web
Instance/Survival/plugins/squaremap-banners
Instance/Survival/world/advancements
Instance/Survival/plugins/InteractiveChat/storage.yml
Instance/Survival/plugins/SIR/lang.yml
Instance/Survival/world/stats
Instance/Survival/plugins/VelocityVanish/languages/en_US.yml
Instance/Survival/plugins/TAB/config.yml
Instance/Survival/plugins/squaremap-deathspot
Instance/Survival/plugins/SIR/misc/icons
Instance/Survival/plugins/ProtocolLib/lastupdate
*.old
Instance/Survival/plugins/squaremap/data
Instance/Survival/plugins/squaremap/data/minecraft_overworld/dirty_chunks.json
Instance/Game/plugins/squaremap-banners
Instance/Game/plugins/squaremap/web
Instance/Game/plugins/squaremap/data
Instance/Survival/plugins/squaremap/data
Instance/Survival/plugins/DiscordSRV/linkedaccounts.json
Instance/Survival/plugins/DiscordSRV/config.json
Instance/Game/eula.txt
Instance/Game/config/paper-global.yml
Instance/Game/plugins/CoreProtect/config.yml
Instance/Game/plugins/DiscordSRV/linkedaccounts.json
Instance/Game/plugins/InteractiveChat/lang/languages/en_us.json
Instance/Game/plugins/InteractiveChatDiscordSrvAddon/hashes.json
Instance/Game/plugins/LuckPerms/translations/repository/de_DE.properties
Instance/Game/plugins/LuckPerms/translations/repository/el_GR.properties
Instance/Game/plugins/LuckPerms/translations/repository/en_PT.properties
Instance/Game/plugins/LuckPerms/translations/repository/es_ES.properties
Instance/Game/plugins/LuckPerms/translations/repository/fa_IR.properties
Instance/Game/plugins/LuckPerms/translations/repository/fi_FI.properties
Instance/Game/plugins/LuckPerms/translations/repository/fil_PH.properties
Instance/Game/plugins/LuckPerms/translations/repository/fr_FR.properties
Instance/Game/plugins/LuckPerms/translations/repository/he_IL.properties
Instance/Game/plugins/LuckPerms/translations/repository/hi_IN.properties
Instance/Game/plugins/LuckPerms/translations/repository/hu_HU.properties
Instance/Game/plugins/LuckPerms/translations/repository/id_ID.properties
Instance/Game/plugins/LuckPerms/translations/repository/it_IT.properties
Instance/Game/plugins/LuckPerms/translations/repository/ja_JP.properties
Instance/Game/plugins/LuckPerms/translations/repository/ka_GE.properties
Instance/Game/plugins/LuckPerms/translations/repository/ko_KR.properties
Instance/Game/plugins/LuckPerms/translations/repository/nl_NL.properties
Instance/Game/plugins/LuckPerms/translations/repository/no_NO.properties
Instance/Game/plugins/LuckPerms/translations/repository/pl_PL.properties
Instance/Game/plugins/LuckPerms/translations/repository/pt_BR.properties
Instance/Game/plugins/LuckPerms/translations/repository/ro_RO.properties
Instance/Game/plugins/LuckPerms/translations/repository/ru_RU.properties
Instance/Game/plugins/LuckPerms/translations/repository/sk_SK.properties
Instance/Game/plugins/LuckPerms/translations/repository/sr_CS.properties
Instance/Game/plugins/LuckPerms/translations/repository/status.json
Instance/Game/plugins/LuckPerms/translations/repository/sv_SE.properties
Instance/Game/plugins/LuckPerms/translations/repository/tr_TR.properties
Instance/Game/plugins/LuckPerms/translations/repository/uk_UA.properties
Instance/Game/plugins/LuckPerms/translations/repository/vi_VN.properties
Instance/Game/plugins/LuckPerms/translations/repository/zh_CN.properties
Instance/Game/plugins/LuckPerms/translations/repository/zh_TW.properties
Instance/Game/plugins/squaremap/locale/lang-bs.yml
Instance/Game/plugins/squaremap/locale/lang-en.yml
Instance/Game/plugins/squaremap/locale/lang-es-es.yml
Instance/Game/plugins/squaremap/locale/lang-fr.yml
Instance/Game/plugins/squaremap/locale/lang-nl.yml
Instance/Game/plugins/squaremap/locale/lang-no.yml
Instance/Game/plugins/squaremap/locale/lang-pl.yml
Instance/Game/plugins/squaremap/locale/lang-ru.yml
Instance/Game/plugins/squaremap/locale/lang-th.yml
Instance/Game/plugins/squaremap/locale/lang-zh-cn.yml
Instance/Game/plugins/squaremap/locale/lang-zh-tw.yml
Instance/Survival/plugins/DiscordSRV/linkedaccounts.json
Instance/Game/plugins/DiscordSRV/config.yml
Instance/Game/plugins/eGlow/Config.yml
Instance/Game/plugins/InteractiveChat/storage.yml
Instance/Game/plugins/LuckPerms/translations/repository/ar_SA.properties
Instance/Game/plugins/LuckPerms/translations/repository/bg_BG.properties
Instance/Game/plugins/LuckPerms/translations/repository/cs_CZ.properties
Instance/Game/plugins/LuckPerms/translations/repository/da_DK.properties
Instance/Game/plugins/LuckPerms/contexts.json
Instance/Game/plugins/LuckPerms/editor-keystore.json
Instance/Game/plugins/ProtocolLib/lastupdate
Instance/Game/plugins/squaremap-deathspot/icon.png
Instance/Survival/plugins/DiscordSRV/linkedaccounts.json
Instance/Game/plugins/ReputationPlus/config.yml
Instance/Game/plugins/LuckPerms/config.yml
Instance/Game/Project Run/datapacks
Instance/Game/Project Run/icon.png
*.bak
*.nbt
Instance/Game/banned-ips.json
Instance/Game/banned-players.json
Instance/Game/commands.yml
.gitignore
Instance/Game/help.yml
Instance/Game/ops.json
Instance/Game/permissions.yml
Instance/Game/usercache.json
Instance/Game/version_history.json
Instance/Game/whitelist.json
Instance/Game/plugins/bStats/config.yml
Instance/Game/map
Instance/Game/server-icon.png
Instance/Game/plugins/HyacinthHello/PlayerDatabase
Instance/Game/plugins/InteractiveChatDiscordSrvAddon/server-resource-packs/e43ba97a6342c41bafc51e6fcdd31aec7acba24d
Instance/Survival/plugins/DiscordSRV/linkedaccounts.json
Instance/Survival/plugins/JohnsRep/config.yml
Proxy/plugins/TAB/skincache.yml
Instance/Game/Custom SkyWars Map
Instance/Game/world/advancement
.gitignore
.gitignore
.gitignore
Instance/Game/world/stats
Instance/Game/world/advancements
